body {
	background-color: rgb(211, 176, 131);
}

#img a {
	display: block;
	font-family: 'Product Sans';
	font-weight: normal;
	text-decoration: none;
	text-align: right;
	color: rgb(39, 78, 207);
	margin: 15px 300px 200px auto;
}

h1 {
	font-family: 'Google sans';
	font-size: 6.25em;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0;
}

#the-form {
	display: block;
	background-color: rgb(134, 204, 204);
	margin: 0 auto;
}

input {
	display: block;
	margin: 20px auto;
}
